# Set default behavior to automatically normalize line endings.
* text=auto

# Force bash scripts to always use LF line endings so that if a repo is accessed
# in Unix via a file share from Windows, the scripts will work.
*.sh text eol=lf

# Force batch scripts to always use CRLF line endings so that if a repo is accessed
# in Windows via a file share from Linux, the scripts will work.
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.ico binary

# --- Configuración para limpiar las estadísticas (Linguist) ---

# Ocultar carpetas internas del tema
_includes/* linguist-vendored
_layouts/* linguist-vendored
_sass/* linguist-vendored
assets/* linguist-vendored
scripts/* linguist-vendored
_tabs/* linguist-vendored

# Ocultar archivos de configuración de Ruby y Jekyll
Gemfile linguist-vendored
Gemfile.lock linguist-vendored
_config.yml linguist-vendored
feed.xml linguist-vendored
sitemap.xml linguist-vendored

# Tratar los archivos Markdown como contenido principal
*.md linguist-documentation=false
